@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Book>

@{
    ViewBag.Title = "Головна";
    Categories.category = Categories.category;
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-xs-11 col-xs-offset-1">
        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-12 col-md-3">
                        @Html.DropDownList("searchBy", new List<SelectListItem>
                        { new SelectListItem{ Text = Categories.forSoul, Value = Category.forSoul.ToString()},
                            new SelectListItem{ Text = Categories.brainLiterature, Value = Category.brainLiterature.ToString()},
                            new SelectListItem{ Text = Categories.horrors, Value = Category.horrors.ToString()},
                            new SelectListItem{ Text = Categories.romance, Value = Category.romance.ToString()},
                            new SelectListItem{ Text = Categories.detective, Value = Category.detective.ToString()},
                            new SelectListItem{ Text = Categories.forChildren, Value = Category.forChildren.ToString()},
                            new SelectListItem{ Text = "Всі категорії", Value = "all"}
                        }, "Оберіть категорію", new { @class = "form-control" })
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <input type="text" class="form-control"
                               placeholder="Фамілія автора" name="searchAuthor" />
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <input type="text" class="form-control"
                               placeholder="Назва книги" name="searchBookTitle" />
                    </div>
                    <div class="col-xs-6 col-md-2">
                        <input type="submit" class="btn btn-primary btn-block" value="Шукати" />
                    </div>
                </div>
                
            </div>
        }
    </div>
</div>
<br/>

<div class="row">
    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="col-xs-9 col-xs-offset-1 borderRadius20px">
            <div class="col-xs-12 bookColor">
                <div class="col-xs-10 col-md-11 text-left">
                    <div class="gap15px"></div>
                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 ">
                        @if (string.IsNullOrEmpty(Model[i].BookTitle))
                    {
                    <div class="thumbnail">
                        @Html.Image("~/images/bookTitles/default/defaultBook.jpg",
                                                        "Тут мало бути фото книги")
                    </div>
                    }
                    else
                    {
                    <div class="thumbnail">
                        @Html.Image(Model[i].BookTitle, "Тут мало бути фото книги")
                    </div>
                    }
                    </div>
                    <div class="fontSize150 col-xs-12 col-sm-4 col-md-5 col-lg-7">
                        @Model[i].Name, - @Model[i].Author.FirstName
                        @Model[i].Author.LastName
                    </div>
                    <div class="fontSize150 col-xs-12 col-sm-4 col-md-4 col-lg-3 bookColor">
                        @string.Format("{0:C}", Model[i].Price)
                    </div>
                </div>
                <div class="col-xs-2 col-md-1">
                    @using (Html.BeginForm("AddBook", "Cart", FormMethod.Post))
                    {
                    <div>
                        @Html.Hidden("bookId", Model[i].BookId)
                        <div class="col-xs-12 gap15px"></div>
                        @if (!MyCart.GetCart().IsSelected(Model[i].BookId))
                            {
                            <input type="submit" class="btn btn-lg btn-primary" value="Добавити у кошик" />
                            }
                            else
                            {
                            <input type="button" class="btn btn-lg btn-warning" value="Ця книга у кошику" />
                            }
                    </div>
                    }
                </div>
            </div>

            <a href="#book@(i)" data-toggle="collapse"
               class="btn btn-info col-xs-10 col-md-11">
                <div class="col-xs-6 col-md-5 col-lg-7 text-left">
                    Опис книги <span class="caret"></span>
                </div>
            </a>
            <div id="book@(i)" class="collapse col-xs-10 col-md-11">
                <div class="well">
                    @Model[i].Description
                </div>
            </div>
            <div class="col-xs-12 gap30px"></div>
        </div>
    }
</div>

<div class="row">
    <div class="col-xs-12 text-center">
        @Html.PagedListPager(Model, page => 
       Url.Action("Index", new 
       { 
           page, 
           category = Model[0].Category,
           searchBy = Request.QueryString["searchBy"],
           searchAuthor = Request.QueryString["searchAuthor"],
           searchBookTitle = Request.QueryString["searchBookTitle"],
           QuickSearch = Request.QueryString["QuickSearch"]
       }), 
       new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded,
                                       MaximumPageNumbersToDisplay = 3,
                                       DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                                       DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                                       DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                                       DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                                       DisplayPageCountAndCurrentLocation = true
       })
    </div>
</div>


