@model Book

@{
    ViewBag.Title = "Добавити нову книгу";
}

<h2 class="WhitesmokeLetters">Добавити нову книгу</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.BookTitle, new { @class = "WhitesmokeLetters control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BookTitle)
                @Html.ValidationMessageFor(model => model.BookTitle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Author, "Author", new { @class = "WhitesmokeLetters control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AuthorId", "Select Author")
                @Html.ValidationMessageFor(model => model.Author)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "WhitesmokeLetters control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Category, new { @class = "WhitesmokeLetters control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Category", new List<SelectListItem>
                    { new SelectListItem{ Text = Categories.forSoul, Value = Category.forSoul.ToString()},
                        new SelectListItem{ Text = Categories.brainLiterature, Value = Category.brainLiterature.ToString()},
                        new SelectListItem{ Text = Categories.horrors, Value = Category.horrors.ToString()},
                        new SelectListItem{ Text = Categories.romance, Value = Category.romance.ToString()},
                        new SelectListItem{ Text = Categories.detective, Value = Category.detective.ToString()},
                        new SelectListItem{ Text = Categories.forChildren, Value = Category.forChildren.ToString()},
                    }, "Select Category")
                @Html.ValidationMessageFor(model => model.Category)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "WhitesmokeLetters control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BookCover, new { @class = "WhitesmokeLetters control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BookCover, new { Value = ImageDefaultPath.imageDefaultPath })
                @Html.ValidationMessageFor(model => model.BookCover)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавити" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-xs-12 col-sm-offset-2">
        @Html.ActionLink("Повернутись до переліку книг", "Index", null, new { @class = "btn btn-default" })
    </div>
</div>