@model IEnumerable<Book>

@{
    ViewBag.Title = "Каталог книг";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <span>Каталог книг</span>
    </div>

    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BookId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author.FirstName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookId)
                    </td>
                    <td>
                        @Html.ActionLink(item.BookTitle, "Details", new { id = item.BookId })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author.FirstName) <span> </span>
                        @if (string.IsNullOrEmpty(item.Author.MiddleName))
                        {
                            @Html.DisplayFor(modelItem => item.Author.LastName)
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Author.MiddleName) <span> </span>
                            @Html.DisplayFor(modelItem => item.Author.LastName)
                        }
                    </td>
                    <td>
                        @if(item.InStock == true)
                        { 
                            @Html.ActionLink("Видалити зі списку наявних", "RemoveFromStock",
                                 new { id = item.BookId }, new { @class = "btn btn-default btn-block" })
                        }
                        else
                        {
                             @Html.ActionLink("Добавити до списку наявних", "AddToStock", 
                            new { id = item.BookId }, new { @class = "btn btn-success btn-block" })
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Добавити", "Create", null, new { @class = "btn btn-success"})
    </div>
</div>