@model MyCart

@{
    ViewBag.Title = "Кошик";
    Categories.category = null;
}

<div class="col-xs-12">
        <div class="col-xs-12">
            <div class="col-xs-8">
                <h2 class="WhitesmokeLetters">Кошик</h2>
            </div>
            @if (Model.bookCartCount > 0)
            {
                <div class="col-xs-4 text-right">
                    <div class="col-xs-12">
                        @using (Html.BeginForm("Clear", "Cart", FormMethod.Post))
                        {
                            <button type="submit" class="btn btn-danger marginTop20px">
                                <i class="glyphicon glyphicon-trash"></i>
                                <span> Очистити кошик</span>
                            </button> 
                        }
                    </div>
                </div>
            }
            else
            {
                <div class="col-xs-4"></div>
            }
        </div>
        <div class="col-xs-12"><hr/></div>
    @if (Model.bookCartCount > 0)
    { 
            for(int i = 0; i < Model.bookCartCount; i++)
            {
                <div class="col-xs-12 well">
                    <div class="col-xs-12 col-sm-7 fontSize120 text-primary">
                        <div class="col-xs-1 text-center">
                            <h3>@(i + 1)</h3>
                        </div>
                        <div class="col-xs-3 thumbnail">
                            @Html.Image(string.IsNullOrEmpty(Model[i].book.BookCover) ?
                        "~/images/bookCovers/default/defaultBook.jpg" :
                        Model[i].book.BookCover, "Книга")
                        </div>
                        <div class="col-xs-5">
                            @Model[i].book.BookTitle (@Model[i].book.Author.FirstName
                            @Model[i].book.Author.LastName)
                        </div>
                        <div class="col-xs-3">
                            @string.Format("{0:C}", @Model[i].book.Price)
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-5">
                        <div class="row">
                            <div class="col-xs-12 col-xs-offset-9">
                                @using (Html.BeginForm("RemoveBook", "Cart", FormMethod.Post))
                                {
                                    @Html.Hidden("bookId", Model[i].book.BookId)
                                    <button type="submit" class="btn btn-danger">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                }
                            </div>
                        </div>
                        <br/>
                            <div class="row">
                                <div class="col-xs-3">
                                    @if (Model[i].amount > 1)
                                    {
                                        using (Html.BeginForm("DecrementAmount", "Cart", FormMethod.Post))
                                        {
                                            @Html.Hidden("bookId", Model[i].book.BookId);
                                        <button type="submit" class="btn btn-primary">
                                            <i class="glyphicon glyphicon-chevron-left"></i>
                                        </button>
                                        }
                                    }
                                </div>
                                <div class="col-xs-6">
                                    <h4 class="text-primary text-center">
                                        @Html.DisplayFor(b => b[i].amount)<span> </span>
                                        @BookEnd.GetRightEnd(Model[i].amount).ToLower()
                                    </h4>
                                </div>
                                <div class="col-xs-3">
                                    @using (Html.BeginForm("IncrementAmount", "Cart", FormMethod.Post))
                                    {
                                        @Html.Hidden("bookId", Model[i].book.BookId);
                                        <button type="submit" class="btn btn-primary">
                                            <i class="glyphicon glyphicon-chevron-right"></i>
                                        </button>
                                    }
                                </div>
                            </div>
                    </div>
                </div>
            }
        <div class="col-xs-12">
            <div class="col-xs-6"></div>
            <div class="col-xs-6">
                <h4 class="fontSize150 text-center text-primary">
                    Вартість замовлення: @string.Format("{0:C}", Model.Cost)
                </h4>
            </div>
            
        </div>
        <div class="col-xs-12">
            <div class="col-xs-6">
                @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                {
                    string category = MyCart.GetCart().BookCarts.Last().book.Category;

                    switch (category)
                    {
                        case "brainLiterature":
                            <button type="submit" class="btn btn-lg btn-info btn-block center-block"
                                    name="category" value="brainLiterature">
                                Продовжити купувати
                            </button>; break;
                        case "horrors":
                            <button type="submit" class="btn btn-lg btn-info btn-block center-block"
                                    name="category" value="horrors">
                                Продовжити купувати
                            </button>; break;
                        case "romance":
                            <button type="submit" class="btn btn-lg btn-info btn-block center-block"
                                    name="category" value="romance">
                                Продовжити купувати
                            </button>; break;
                        case "detective":
                            <button type="submit" class="btn btn-lg btn-info btn-block center-block"
                                    name="category" value="detective">
                                Продовжити купувати
                            </button>; break;
                        case "forChildren":
                            <button type="submit" class="btn btn-lg btn-info btn-block center-block"
                                    name="category" value="forChildren">
                                Продовжити купувати
                            </button>; break;
                        default:
                            <button type="submit" class="btn btn-lg btn-info btn-block center-block"
                                    name="category" value="forSoul">
                                Продовжити купувати
                            </button>; break;
                    }
                }
            </div>
            <div class="col-xs-6">
                <a href="~/Order/Create" class="btn btn-lg btn-primary btn-block center-block ">
                    Оформити замовлення
                </a>
            </div>
        </div>
    }
    else
    {
        <div class="col-xs-12 gap30px WhiteLetters">
            <h3 class="text-center">Ваш кошик пустує. Добавте в нього пару книг!</h3>
            <div class="col-xs-11 col-xs-offset-1 col-md-6 col-md-offset-3">
                <a href="~/home/index" class="btn btn-lg btn-block center-block btn-primary">
                    Повернутись до каталогу товарів
                </a>
            </div>
        </div>
    }
</div>

