@model OrderViewModel

@{
    ViewBag.Title = "Оформлення замовлення";
    Categories.category = null;
}

<div class="col-xs-10 col-xs-offset-1 WhitesmokeLetters">
    <div class="col-xs-10 col-xs-offset-1">
        <h2 class="text-center">Ваше замовлення</h2>
    </div>
    <div class="col-xs-10 col-xs-offset-1"><br /></div>

    <!--One's order-->
    @if (Model.books != null && Model.books.Count > 0)
    {
        <div class="row">
            @for (int i = 0; i < Model.books.Count; i++)
            {
                <div class="@(Model.books.Count >=4 ?
                                            ("col-xs-12 col-sm-6 col-md-4 col-lg-3") :
                                            (Model.books.Count == 3 ? 
                                            ("col-xs-12 col-sm-6 col-md-4") : 
                                            ("col-xs-12 col-sm-6")))">
                    <div class="thumbnail">
                        <img src="@(string.IsNullOrEmpty(Model.books[i].BookCover) ?
                                  Html.GetAbsolute("~/images/bookCovers/default/defaultBook.jpg") :
                                  Html.GetAbsolute(Model.books[i].BookCover))" alt="Книга" />
                        <div class="caption text-primary">
                            <h4 class="text-center">
                                @Model.books[i].BookTitle (@Model.books[i].Author.FirstName
                                @Model.books[i].Author.LastName)<br />
                            </h4>
                            <p class="fontSize120">
                                @Model.customerOrders[i].Quantity <span> </span>
                                @BookEnd.GetRightEnd(Model.customerOrders[i].Quantity).ToLower()
                            </p>
                            <p class="fontSize120">
                                @string.Format("{0:C}", Model.customerOrders[i].Price) за примірник
                            </p>
                        </div>
                    </div>
                </div>
            }
            <div class="col-xs-12 text-center">
                <h4 class="fontSize150">
                    Загальна вартість замовдення:
                    @string.Format("{0:C}", Model.cost)
                </h4>
            </div>
        </div>

        <!--Customer form-->
        using (Html.BeginForm("Create", "Order", FormMethod.Post))
        {
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-md-8 col-lg-12">

                    <div class="center-block">

                        <div class="col-md-12 col-lg-6">
                            <h3 class="text-center">Особисті дані</h3>
                            <div class="gap15px"></div>

                            <div class="form-group">
                                @Html.LabelFor(x => x.FirstName, new { @class = "control-label" })
                                @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
                                <div class="text-danger">
                                    @Html.ValidationMessageFor(x => x.FirstName)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(x => x.LastName, new { @class = "control-label" })
                                @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
                                <div class="text-danger">
                                    @Html.ValidationMessageFor(x => x.LastName)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(x => x.PhoneNumber, new { @class = "control-label" })
                                @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
                                <div class="text-danger">
                                    @Html.ValidationMessageFor(x => x.PhoneNumber)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.Email, new { @class = "control-label" })
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                                <div class="text-danger">
                                    @Html.ValidationMessageFor(x => x.Email)
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-lg-6">
                            <h3 class="text-center">Адрес доставки</h3>
                            <div class="gap15px"></div>

                            <div class="form-group">
                                @Html.LabelFor(x => x.Country, new { @class = "control-label" })
                                @Html.TextBoxFor(x => x.Country, new { @class = "form-control" })
                                <div class="text-danger">
                                    @Html.ValidationMessageFor(x => x.Country)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.CityOrVillage, new { @class = "control-label" })
                                @Html.TextBoxFor(x => x.CityOrVillage, new { @class = "form-control" })
                                <div class="text-danger">
                                    @Html.ValidationMessageFor(x => x.CityOrVillage)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.Street, new { @class = "control-label" })
                                @Html.TextBoxFor(x => x.Street, new { @class = "form-control" })
                                <div class="text-danger">
                                    @Html.ValidationMessageFor(x => x.Street)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.House, new { @class = "control-label" })
                                @Html.TextBoxFor(x => x.House, new { @class = "form-control" })
                                <div class="text-danger">
                                    @Html.ValidationMessageFor(x => x.House)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.Appartment, new { @class = "control-label" })
                                @Html.TextBoxFor(x => x.Appartment, new { @class = "form-control" })
                                <div class="text-danger">
                                    @Html.ValidationMessageFor(x => x.Appartment)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <!--Buttons back to cart and submit -->
            <div class="row">
                <div class="col-xs-6">
                    <a href="~/cart/index" class="btn btn-block btn-info btn-lg">
                        Вернутись <i class="glyphicon glyphicon-shopping-cart"></i>
                    </a>
                </div>
                <div class="col-xs-6">
                    <input type="submit" class="btn btn-block btn-primary btn-lg" 
                           value="Замовити" />
                </div>
            </div>
        }
    }
    else
    {
        <!--if cart is empty-->
        <div class="text-center">
            <h3 class="col-xs-12 WhitesmokeLetters">Ви нічого не обрали</h3>
            <div class="col-xs-11 col-xs-offset-1 col-md-6 col-md-offset-3">
                <a href="~/home/index" class="btn btn-lg btn-block center-block btn-primary">
                    Повернутись до каталогу
                </a>
            </div>
        </div>
    }
</div>

